.minesweeper {
    display: inline-block;
    min-width: 180px;
    width: 322px;
    border: 1px solid #858585;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.minesweeper > .field {
    display: grid;
    grid-template-columns:repeat(3, 100px);
    grid-gap: 1px;
    background-color: #fff;
    color: #444;
}
    .minesweeper > .field > .cell {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 15px;
        font-size: 100%;

    }
    .a {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .minesweeper > .field > .cell:hover {
        background-color: #bbb;
        cursor: pointer;
    }
